<h1> New Student Form page </h1>

<%= form_for @student do |f|%>
<%= f.label :First_Name %><br>
<%= f.text_field :first_name %><br>

<%= f.label :Last_Name %><br>
<%= f.text_field :last_name %><br>
<%= f.submit%>
<% end %>
